<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"/>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <link href="style.css" rel="stylesheet" />
    <title>NICHE</title>
  </head>
  <body style="background-color: #F1E9E4"> <!-- background color imbedded in here rather than css-->
    <nav class="navbar sticky-top navbar-dark" style="background-color: #a3a869;">
      <div class="container-fluid text-center">
        <img src="logo.png" alt="Logo">
        <b><a id="brand" onclick="scrollToTop()" href="#top">2NICHE</a></b>
        <script>
    function scrollToTop() {
      jQuery('html, body').animate({ scrollTop: 0 }, 'slow');
    }
  </script>
        <ul id="nav" class="navbar-brand">
          <li><a href="#about">_About_</a></li>
          <li><a href="#menu">_Overview_</a></li>
        </ul>
      </div>
    </nav>
      <h1>Niche Locations Nearby</h1>
  {% for location in locations %}
    <div>
      <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
          <div class="card" style="width: 18rem;">
            <img src={{location[1][3]}} class="card-img-top" alt="Image">
            <div class="card-body">
              <h5 class="card-title">{{location[0]}}</h5>
              <p class="card-text">
                  <a href={{location[1][5]}} class="btn btn-primary btn-sm" >{{location[1][4]}}</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
      <!-- background color imbedded in here rather than css-->
        <nav class="navbar navbar-light sticky-top" style="background-color: #5F6B5D;"> <!-- background color imbedded in here rather than css-->
            <div class="container-fluid">
              <img src="logo.png" alt="Niche Logo">
              <a class="navbar-brand" href="#">NICHE</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                <div class="offcanvas-header">
                  <h5 class="offcanvas-title" id="offcanvasNavbarLabel">NICHE Guide</h5>
                  <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                  <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="offcanvasNavbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Dropdown
                      </a>
                      <ul class="dropdown-menu" aria-labelledby="offcanvasNavbarDropdown">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li>
                          <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                      </ul>
                    </li>
                  </ul>
                  <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                  </form>
                </div>
              </div>
            </div>
          </nav>
          <header style="background-color: #825013;">
            <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="mels.png" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="scene.png" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="..." class="d-block w-100" alt="...">
                </div>
              </div>
              <style>
                /* adjust the size of the images */
                .carousel-item img {
                  max-width: 50%; /* or any other value that fits your needs */
                  height: auto;
                  margin: 2px;
                }

                /* position the images to the right side of the screen */
                .carousel-item img {
                  float: right;
                }
              </style>
            </div>
        </header>
    </body>


    <style>
      body {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      .card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        width: 150px;
        margin-left: 10px;
        background-color: #5f6b5d;
        border-radius: 10px;
        font-size: 0.7rem;
        line-height: 1.0;
        margin-top: -5px;
        color: white;
      }
      

      .card-subtitle {
        font-size: 0.8rem;
        margin-top: -5px;
        color: white !important;
      }

      .card-title {
        font-size: 1rem;
        color: white;
        margin-bottom: 20px;
        margin-top: 10px;
      }
      .card-img-top {
        padding-left: 0%;
      }